.container {
  border: solid 1px white;
}

.drageable {
  border: solid 1px white;
  background-color: var(--color-bordes-o);
  border-radius: 0.1rem;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
}
.zonesss {
  border: solid 1px white;
}

