.carrusel {
  display: flex; /* CLAVE: alinea tarjetas horizontalmente */
  overflow-x: auto; /* CLAVE: permite scroll horizontal */
  scroll-snap-type: x mandatory; /*CLAVE: snap obligatorio en eje X */
  scroll-behavior: smooth; /*Scroll suave al usar scrollIntoView */
  /* Ocultar barra */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}
.card {
  min-width: 100%; /*CLAVE: cada tarjeta ocupa todo el ancho visible */
  scroll-snap-align: start; /* CLAVE: punto de snap al inicio de cada tarjeta */
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.options {
  width: clamp(7rem, 19vw, 15rem);
  padding: 0.4rem;
  border-radius: 0.7rem;
  align-self: center;
  font-weight: bold;
  border: none;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--color-bordes-o);
  &&:hover {
    transform: translateY(-0.5rem);
    
  }
  &&:focus {
    background-color: var(--color-bordes-c);
  }
}
.select {
  background-color: var(--color-bordes-c);
}
.unSelect {
  background-color: var(--color-bordes-o);
}
.button_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
}
.dot {
  border-radius: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  font-size: 1.5rem;
  &&:hover {
    color: var(--color-bordes-o);
  }
  /* &&:focus {
    background-color: var(--color-bordes-o);
  } */
}
.dots_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.no_select{
   color: var(--color-titulo-o);
}
.dot_select{
     color: var(--color-bordes-c);
}
@media(max-width: 650px) and (min-width: 0px){
  .button_container {
      flex-direction: column;
  }
  .options {
  width: clamp(10rem, 19vw, 15rem)}
}