.question_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
  width: clamp(100%, 50vw, 50rem);
}
.button {
  width: clamp(9rem, 30vw, 20rem);
  padding: 1rem;
  border-radius: 0.7rem;
  align-self: center;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in-out;
  &&:hover {
    transform: rotate(5deg);
  }
  &&:focus {
    background-color: var(--color-bordes-c);
  }
}
.select {
  background-color: var(--color-bordes-c);
}
.unSelect {
  background-color: var(--color-bordes-o);
}
.button{
align-self: center;
}
.section{
  display: flex;
  flex-direction: column;
}