.tribu {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background-color: var(--color-fondo-o);
}
.img {
  width: 10rem;
  margin: auto;
  padding: 1rem 0;
}
.tribus_container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-radius: 0.5rem;
  gap: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.section {
  display: flex;
  flex-direction: column;
  width: clamp(18rem, 80vw, 63rem);
  justify-self: center;
  text-align: center;
}
.h1 {
  text-align: center;
}
.p {
  text-align: center;
  margin: 3rem;
}
@media (max-width: 650px) and (min-width: 0px) {
}
