.tribu {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.img {
  width: 10rem;
  margin: auto;
  padding: 1rem 0;
}
.tribus_container {
  background-color: var(--color-fondo-o);
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
