.label {
  padding: 1rem 1rem 1rem 0;
}
.input[type="radio"] {
  margin: 1rem 1rem 1rem 0;;
  width: 1rem;
  height: 1rem;
  background-color: white;
}
.input[type="radio"]:checked {
  accent-color: var(--color-bordes-o);
  width: 1rem;
  height: 1rem;
}
.container {
}
.p {
  margin-top: 1rem;
}
.button_container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
