.section {
  position: relative;
  height: 100vh;
}
.container {
  padding-top: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.h1 {
  text-align: center;
}
.img {
  display: flex;
  position: absolute;
  bottom: -1rem;
  width: clamp(14rem, 24vw, 19rem);
  animation: llegar 2s ease-in-out forwards,
    vibrar 0.2s ease-in-out 2s infinite alternate;
}
.img_arrancar {
  animation: arrancar 2s ease-in-out forwards;
}
/* Formulario */
input[type="text"]:focus {
  background-color: var(--color-bordes-c);
  outline: none;
  color: var(--color-texto-o);
  border: solid 1px var(--color-texto-o);
}
input[type="password"]:focus {
  background-color: var(--color-bordes-c);
  outline: none;
  color: var(--color-texto-o);
    border: solid 1px var(--color-texto-o);
}
input:focus::placeholder {
  color: var(--color-texto-o);
}
input::placeholder{
  font-size: var(--texto-md);
}

/* Animaciones */
@keyframes arrancar {
  from {
    transform: translateX(calc(50vw - 50%));
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes vibrar {
  from {
    transform: translate(calc(50vw - 50%), 0);
  }
  to {
    transform: translate(calc(50vw - 50%), -5px);
  }
}
@keyframes llegar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(calc(50vw - 50%));
  }
}
@media(max-width: 650px) and (min-width: 0px){
  .img{
    bottom: 3rem;
  }
}
