.container {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill='none' stroke='%234caf50' stroke-width='2' opacity='0.15'%3E%3Cpolygon points='20,0 40,20 20,40 0,20'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
  position: relative;
}
.img {
    display: flex;
  position: absolute;
  bottom: 0;
  width: clamp(20rem, 50vw, 22rem);
  animation: 
  llegar 2s ease-in-out forwards,
  vibrar 0.2s ease-in-out 2s infinite alternate
  ;
}
.img_arrancar{
  animation: arrancar 2s ease-in-out forwards
}

@keyframes arrancar {
    from{transform: translateX(calc(50vw - 50%));}
  to {
    transform: translateX(100vw);
  }
}
@keyframes vibrar {
    from{
        transform:  translate(calc(50vw - 50%), 0);
    }
    to{transform:  translate(calc(50vw - 50%), -5px);}
}
@keyframes llegar{
  from{transform: translateX(-100%);}
  to{transform: translateX(calc(50vw - 50%));}
}
